@import "tailwindcss";

@theme{
  --color-primary:#4d6bfe;
}
html{
  @apply scroll-smooth
}
::-webkit-scrollbar{
  display: none;
}
/* Hide the Next.js dev watermark */
[data-nextjs-toast] {
  display: none !important;
}
#__next-build-watcher,
.nextjs-toast {
  display: none !important;
}